#ajax-results {
  a { @include span-columns(5); }
  .icon {
    @include span-columns(1);
    padding-top: 0;
  }
  .icon-loop {
    content: url('../images/ci-loop.svg');
    height: 1.4ch;
  }

  &:hover { cursor: pointer; }
}

body.home {
  .content {
    background-position: center;
    background-size: 90% 90%;
  }
}

.external-link-arrow {
  content: url('../images/ci-arrow-external.svg');
  width: 9px;
}

.icon {
  @include span-columns(1);
  padding-top: 0.22rem;

  &:before { content: none; }
}

.icon-search {
  content: url('../images/ci-search.svg');
  height: 1.4ch;
}

.up-arrow { content: url('../images/ci-arrow-up.svg'); }

.external-link:after {
  content: url('../images/ci-arrow-external.svg');
  display: inline-block;
  width: 8px;
  margin-left: 0.5em
}
