#ajax-results {
  background: url("../../assets/icons/uEA01-ci-loop.svg") no-repeat top left;
  background-position: left center;
  background-size: 0.85em;
  padding-left: 8.7613%;

  &:hover { cursor: pointer; }
}

body.home {
  .content {
    background: url('../../assets/images/CI5718/ci-c.svg') no-repeat top;
    background-position: center;
    background-size: 90% 90%;
  }
}

.external-link-arrow {
  content: url('../../assets/icons/uEA04-ci-arrow-external.svg');
  width: 9px;
}

.icon {
  @include span-columns(1);
  padding-top: 0.55rem;
}

.icon-search {
  height: 1.5ch;
}

.up-arrow { content: url('../../assets/icons/uEA03-ci-arrow-up.svg'); }
