// break into separate files eventually. I'm just bad at things right now

.back-button {
  float: right;
}

div.content.row {
  background: white;
  display: inline-flex;
  margin: 5vh 4vw;
  min-height: 90vh;
  padding: 3em;
  width: 92vw;
}

main {
  @include span-columns(7);

  article {
    @include span-columns(12);
    margin-bottom: 0.75rem;

    aside {
      @include span-columns(1);
    }
    img {
      &:hover {cursor: pointer;}
    }
    section {
      @include span-columns(11);

      .entry-summary {
        margin-top: 0;
      }
      .entry-title {
        margin-bottom: 0;
      }
    }
  }

  & > header {
    margin-bottom: 5%;
  }

}

.programs article {
  padding-left: 8.7613%;
}

#page-title {
  margin-bottom: 5%;

  .section-number {
    color: #333;
    height: 0.7em;
    padding-right: 7.4513%;
  }
}

.past-events {
  margin: 0 1.5% 0 7.5%;
}
