// break into separate files eventually. I'm just bad at things right now

.back-button {
  float: right;
}

div.content.row {
  background: white;
  display: inline-flex;
  margin: 5vh 4vw;
  min-height: 90vh;
  padding: 3em;
  width: 92vw;
}

main {
  @include span-columns(7);
}

#page-title {
  & .up-arrow {
    content: url('../../assets/icons/uEA03-ci-arrow-up.svg');
    height: 0.7em;
    padding-right: 8.7613%;
  }
}
