body.search {
  .navigation.posts-navigation {
    display: none;
  }
}

.input-underline {
  position: relative;
  top: -20px;
  left: 8.7613%;
  overflow: hidden;
  white-space: nowrap;
}

body.home .input-underline {
  left: 50px;
}
