body.search {
  .navigation.posts-navigation {
    display: none;
  }
}

.input-underline {
  @include shift(1);
  @include span-columns(5);

  overflow: hidden;
  position: relative;
  top: -7px;
  white-space: nowrap;
}

.no-results {
  @include shift(1);
  margin-top: 5%;
}
