.icon-c {
  background: url('../images/CI5718/ci-c.svg') no-repeat top;
}
.icon-i {
  background: url('../images/CI5718/ci-i.svg') no-repeat top;
}
.icon-5 {
  background: url('../images/CI5718/ci-5.svg') no-repeat top;
}
.icon-7 {
  background: url('../images/CI5718/ci-7.svg') no-repeat top;
}
.icon-1 {
  background: url('../images/CI5718/ci-1.svg') no-repeat top;
}
.icon-8 {
  background: url('../images/CI5718/ci-8.svg') no-repeat top;
}

body.home {
  .main {
    @include span-columns(5);

    @include media($large) {
      @include span-columns(9);
    }

    @include media($small) {
      @include shift(0);
      @include span-columns(6);
    }
  }

  .content {
    background-position: center;
    background-size: 90% 90%;
    position: relative;
  }

  .search-form {
    float: left;
    @include media($extra-small) {
      float: none;
    }
  }
}
