.article-list {
  &__section-number {
    position: absolute;
  }
}

.article-item {
  margin-left: 50px;
  margin-bottom: $base-spacing;

  &__date {
    margin-bottom: $base-spacing;
  }

  .moretag {
    text-transform: uppercase;
  }
}
